.u-bg-white {
  background-color: $white;
}

.u-bg-light {
  background-color: $gray-light;
}

.u-bg-blue-light {
  background-color: $blue-light;
}

.u-bg-blue-dark {
  background-color: $blue-dark;
}

.u-white {
  color: $white;
}
